#embeddedVideoStats {
    height: 31px !important;
    border-radius: 4px !important;
    background-color: #F1F2F3 !important;
    position: fixed !important;
    z-index: 4 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-right: 16px !important;
    margin-bottom: 0px !important;
    direction: ltr !important;
    min-width: unset !important;
    min-height: unset !important;
    width: unset !important;
}

#statElement {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-bottom: 0px !important;
}

#statElementImage {
    width: 13px !important;
    margin: 0px 0px 0px 16px !important;
    opacity: 1 !important;
    background: unset !important;
}

#statElementText {
    font-family: Roboto !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #909090 !important;
    margin-left: 4px !important;
    margin-bottom: 0px !important;
}
