.wrapper--LS8-B {
  display: inline-block; }
  .wrapper--LS8-B:hover .container--F6ne8 {
    visibility: visible; }

.container--F6ne8 {
  pointer-events: none;
  position: relative;
  visibility: hidden; }

.position--3PUY5 {
  left: 50%;
  position: absolute;
  top: 8px; }

.content--2WllO {
  align-items: center;
  background-color: #7a8389;
  border-radius: 5px;
  color: #f1f2f3;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  justify-content: center;
  left: -50%;
  padding: 6px 16px;
  position: relative;
  white-space: nowrap; }
  .content--2WllO:before {
    top: -12px;
    border: 6px solid transparent;
    content: ' ';
    position: absolute;
    border-bottom-color: #7a8389; }
  .content--2WllO:after {
    content: attr(content); }

.main--27G0M {
  background-color: transparent;
  background-size: cover;
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px; }
  .main--27G0M:active {
    transform: scale(0.95); }
  .main--27G0M:focus {
    outline: 0; }

.me-fill-mode #masthead-container {
  display: none !important; }

.me-fill-mode #page-manager {
  margin-top: 0 !important; }

.me-fill-mode ytp-size-button path, .me-fill-mode .ytp-size-button path {
  fill: #8c29d7 !important; }

.me-fill-mode ytd-watch-flexy .html5-video-player {
  height: 100vh !important; }

.me-fill-mode ytd-watch-flexy .html5-main-video {
  height: 100vh !important;
  width: 100vw !important;
  left: 0px !important;
  top: 0px !important; }

.me-fill-mode ytd-watch-flexy #secondary {
  display: none !important; }

.me-fill-mode ytd-watch-flexy #primary {
  padding: unset !important;
  margin: unset !important; }

.me-fill-mode ytd-watch-flexy .ytp-chrome-bottom {
  position: relative !important;
  top: calc(100vh - 40px) !important;
  left: 0px !important;
  margin: 0 auto !important;
  width: 100vw !important; }

.captureScreen--3zldV {
  background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen.svg"); }
  .captureScreen--3zldV:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_hover.svg"); }
  .captureScreen--3zldV.captureScreenDark--tFsGc {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_dark.svg"); }
    .captureScreen--3zldV.captureScreenDark--tFsGc:hover {
      background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_dark_hover.svg"); }
    .captureScreen--3zldV.captureScreenDark--tFsGc:after {
      display: none;
      content: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_dark.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_dark_hover.svg"); }
  .captureScreen--3zldV:after {
    display: none;
    content: url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/capture-screen_hover.svg"); }

.darkenSurrounding--1sShD {
  background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding.svg"); }
  .darkenSurrounding--1sShD:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_hover.svg"); }
  .darkenSurrounding--1sShD.darkenSurroundingDark--g-IkD {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_dark.svg"); }
    .darkenSurrounding--1sShD.darkenSurroundingDark--g-IkD:hover {
      background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_dark_hover.svg"); }
    .darkenSurrounding--1sShD.darkenSurroundingDark--g-IkD:after {
      display: none;
      content: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_dark.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_dark_hover.svg"); }
  .darkenSurrounding--1sShD:after {
    display: none;
    content: url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/darken-surrounding_hover.svg"); }

.hideSurrounding--1_wpe {
  background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding.svg"); }
  .hideSurrounding--1_wpe:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_hover.svg"); }
  .hideSurrounding--1_wpe.hideSurroundingDark--3vdYx {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_dark.svg"); }
    .hideSurrounding--1_wpe.hideSurroundingDark--3vdYx:hover {
      background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_dark_hover.svg"); }
    .hideSurrounding--1_wpe.hideSurroundingDark--3vdYx:after {
      display: none;
      content: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_dark.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_dark_hover.svg"); }
  .hideSurrounding--1_wpe:after {
    display: none;
    content: url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/hide-surrounding_hover.svg"); }

.hideSurroundingActive--18vmE {
  background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding.svg"); }
  .hideSurroundingActive--18vmE:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding.svg"); }
  .hideSurroundingActive--18vmE.hideSurroundingDark--3vdYx {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding_dark.svg"); }
    .hideSurroundingActive--18vmE.hideSurroundingDark--3vdYx:hover {
      background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding_dark.svg"); }
  .hideSurroundingActive--18vmE:after {
    display: none;
    content: url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/active-hide-surrounding_dark.svg"); }

.fillMode--3rVfI {
  background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode.svg"); }
  .fillMode--3rVfI:hover {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_hover.svg"); }
  .fillMode--3rVfI.fillModeDark--36n3A {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_dark.svg"); }
    .fillMode--3rVfI.fillModeDark--36n3A:hover {
      background-image: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_dark_hover.svg"); }
    .fillMode--3rVfI.fillModeDark--36n3A:after {
      display: none;
      content: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_dark.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_dark_hover.svg"); }
  .fillMode--3rVfI:after {
    display: none;
    content: url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode.svg") url("chrome-extension://__MSG_@@extension_id__/content/images/fill-mode_hover.svg"); }

.spacer--2EJks {
  display: inline-block;
  width: 8px; }

