.tooltip--2Q4la {
  width: 10px;
  background: red; }

.switcher--3L32X {
  position: relative;
  width: 28px;
  height: 16px; }
  .switcher--3L32X .input--2PrMq {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
    .switcher--3L32X .input--2PrMq:checked + .slider--2-dwY {
      background-image: linear-gradient(to top, #fb00fd, #802dd3); }
    .switcher--3L32X .input--2PrMq:checked + .slider--2-dwY:before {
      transform: translateX(12px); }
    .switcher--3L32X .input--2PrMq:focus + .slider--2-dwY {
      box-shadow: 0 0 1px #2196F3; }
  .switcher--3L32X .slider--2-dwY {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d8d8d8;
    transition: .4s;
    border-radius: 9px; }
    .switcher--3L32X .slider--2-dwY:before {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      bottom: 2px;
      background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
      content: '';
      transition: .4s; }

.me-fill-mode #masthead-container {
  display: none !important; }

.me-fill-mode #page-manager {
  margin-top: 0 !important; }

.me-fill-mode ytp-size-button path, .me-fill-mode .ytp-size-button path {
  fill: #8c29d7 !important; }

.me-fill-mode ytd-watch-flexy .html5-video-player {
  height: 100vh !important; }

.me-fill-mode ytd-watch-flexy .html5-main-video {
  height: 100vh !important;
  width: 100vw !important;
  left: 0px !important;
  top: 0px !important; }

.me-fill-mode ytd-watch-flexy #secondary {
  display: none !important; }

.me-fill-mode ytd-watch-flexy #primary {
  padding: unset !important;
  margin: unset !important; }

.me-fill-mode ytd-watch-flexy .ytp-chrome-bottom {
  position: relative !important;
  top: calc(100vh - 40px) !important;
  left: 0px !important;
  margin: 0 auto !important;
  width: 100vw !important; }

#fountainG--3VGhi {
  position: relative;
  width: 234px;
  height: 28px;
  margin: auto;
  margin-top: 250px; }

.fountainG--3VGhi {
  position: absolute;
  top: 0;
  background-color: #6b70b6;
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG--1jvS1;
  -o-animation-name: bounce_fountainG--1jvS1;
  -ms-animation-name: bounce_fountainG--1jvS1;
  -webkit-animation-name: bounce_fountainG--1jvS1;
  -moz-animation-name: bounce_fountainG--1jvS1;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px; }

.fountainG_1--3O8WT {
  left: 0;
  animation-delay: 0s; }

.fountainG_2--1w5Ub {
  left: 29px;
  animation-delay: 0.15s; }

.fountainG_3--iMi2C {
  left: 58px;
  animation-delay: 0.3s; }

.fountainG_4--HfKcN {
  left: 88px;
  animation-delay: 0.45s; }

.fountainG_5--ru5xT {
  left: 117px;
  animation-delay: 0.6s; }

.fountainG_6--31UED {
  left: 146px;
  animation-delay: 0.75s; }

.fountainG_7--NEUr2 {
  left: 175px;
  animation-delay: 0.9s; }

.fountainG_8--2K9uL {
  left: 205px;
  animation-delay: 1.15s; }

@keyframes bounce_fountainG--1jvS1 {
  0% {
    transform: scale(1);
    background-color: #c24ec2; }
  100% {
    transform: scale(0.3);
    background-color: white; } }

@-o-keyframes bounce_fountainG--1jvS1 {
  0% {
    -o-transform: scale(1);
    background-color: #c24ec2; }
  100% {
    -o-transform: scale(0.3);
    background-color: white; } }

@-ms-keyframes bounce_fountainG--1jvS1 {
  0% {
    -ms-transform: scale(1);
    background-color: #c24ec2; }
  100% {
    -ms-transform: scale(0.3);
    background-color: white; } }

@-webkit-keyframes bounce_fountainG--1jvS1 {
  0% {
    -webkit-transform: scale(1);
    background-color: #c24ec2; }
  100% {
    -webkit-transform: scale(0.3);
    background-color: white; } }

@-moz-keyframes bounce_fountainG--1jvS1 {
  0% {
    -moz-transform: scale(1);
    background-color: #c24ec2; }
  100% {
    -moz-transform: scale(0.3);
    background-color: white; } }

